.git
.github
.vscode
client/build
client/node_modules
lib/native/build
lib/native/node_modules
node_modules
plugins/autoadd/client/build
plugins/autoadd/client/node_modules
vendor/duktape
vendor/vcpkg/buildtrees
vendor/vcpkg/downloads
vendor/vcpkg/packages
vendor/vcpkg/vcpkg
