[submodule "vendor/libtorrent"]
	path = vendor/libtorrent
	url = https://github.com/arvidn/libtorrent
[submodule "vendor/nlohmann-json"]
	path = vendor/nlohmann-json
	url = https://github.com/nlohmann/json
