// Page: About
main.about {
  // Table: Components
  .components {
    max-width: 600px;
  }
  // Social Links
  .social {
    display    : flex;
    align-items: center;
    margin-bottom: 1rem;
    a {
      display        : flex;
      align-items    : center;
      text-decoration: none;
      margin-right   : 0.75rem;
      transition     : all 0.35s ease;
      &:last-child {
        margin-right: 0;
      }
      .icon {
        width: 16px;
        height: 16px;
        object-fit: cover;
        object-position: center;
        path {
          fill: #777;
        }
      }
    }
  }
}
