button {
  display: inline-flex;
  align-items: center;
  cursor    : pointer;
  outline   : 0;
  border    : 0;
  padding   : 0.5rem 1rem;
  background: var(--primary);
  color     : var(--white);
  transition: all 0.35s ease;
  &.icon {
    .bi {
      margin-top: -2px;
      margin-right: 0.5rem;
    }
  }
  &:hover {
    background: var(--primary-hover);
  }
  &:focus {
    box-shadow: 0 0 0 3px var(--primary-outline);
  }
  &.link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: transparent;
    color: var(--body-color);
    &:hover {
      color: var(--body-color-highlight);
      text-decoration: underline;
    }
  }
  @each $name, $color in $colors {
    &.#{$name} {
      background: var(--#{$name});
      color: color-yiq($color);
      &:hover {
        background: var(--#{$name}-hover);
      }
    }
  }
}