// Dialog
.dialog {
  width          : 100%;
  height         : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  padding        : 1rem;
  // Dialog: Content
  .content {
    padding      : 2rem 1.5rem;
    background   : rgba($dark, 0.25);
    border-radius: .75rem;
    .icon {
      display      : block;
      font-size    : 4rem;
      line-height  : 0;
      margin-bottom: 2rem;
      text-align   : center;
      color        : var(--primary);
    }
  }
  // Dialog: Error
  &.error {
    text-align: center;
    .content .icon {
      color: var(--red);
    }
  }
}