
// Footer
footer {
  margin-top: auto;
  padding: .5rem;
  border-top: var(--separator);
  display: flex;
  align-items: center;
  justify-content: space-between;
  // Info badge
  .info {
    display: flex;
    align-items: center;
    .badge {
      border-radius: 3px;
      padding: 1px 4px 1px 3px;
      margin-left: .5rem;
      margin-bottom: -2px;
    }
  }
}