
// Header
header {
  display        : flex;
  width          : 100%;
  align-items    : stretch;
  background     : var(--header-bg);
  flex-wrap      : wrap;
  backdrop-filter: var(--backdrop-filter);
  animation      : fade-in 0.35s forwards;
  z-index        : 999;
  // Logo
  .logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    max-width      : 35px;
    height         : 100%;
    padding        : 0;
    margin         : 0 0.65rem;
    color          : var(--header-color);
    transition     : all 0.35s ease;
    svg,
    img {
      width          : 22px;
      height         : 22px;
      object-fit     : contain;
      object-position: center;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  // Divisions
  .left,
  .center,
  .right {
    display: flex;
    flex   : 1;
  }
  
  // Center
  .center {
    flex           : 1 1 auto;
    justify-content: center;
    align-self     : center;
    @media (max-width: $breakpoint-md) {
      order: 2;
      flex : 1 1 100%;
    }
  }

  // Right
  .right {
    justify-content: flex-end;
  }

  // Items
  .item {
    display        : flex;
    align-items    : center;
    padding        : 1rem;
    text-decoration: none;
    color          : var(--header-color);
    font-weight    : 500;
    transition     : all 0.35s ease;
    line-height    : 0;
    background     : transparent;
    border         : 0;
    flex           : 0 0 auto;
    font-size: 0.85rem;
    &.control {
      padding-left : 0.65rem;
      padding-right: 0.65rem;
    }
    &:hover {      
      color     : $white;
      background: rgba(255, 255, 255,0.15);
    }
    span {
      margin-top : -2px;
      margin-left: .5rem;
      display    : none;
      @media (min-width: $breakpoint-sm) {
        display: block;
      }
    }
    &.icon {
      .title {
        min-width: 85px;
      }
    }
    &.tooltip {
      .title {
        @media (min-width: $breakpoint-sm) {
          display: none !important;
        }
      }
      
    }
  }

  // Icons
  .bi {
    font-size  : 20px;
    line-height: 0;
    transition : all 0.35s ease;
  }

  // Filter
  .filter {
    padding      : 0 1rem;
    display      : flex;
    align-items  : center;
    background   : var(--header-filter-bg);
    width        : 100%;
    margin       : 0.5rem;
    border-radius: var(--header-filter-border-radius);
    box-shadow   : 0 0.25rem .5rem -.25rem rgba($black,0.25);
    @media (min-width: $breakpoint-md) {
      max-width: calc(100% - 100px);
    }
    @media (min-width: $breakpoint-md + 200px) {
      max-width: 400px;
    }
    @media (min-width: $breakpoint-lg) {
      max-width: 600px;
    }
    .bi {
      display      : flex;
      align-items  : center;
      color        : var(--header-filter-color);
      margin-bottom: 0;
    }
    label {
      width   : 0;
      height  : 0;
      overflow: hidden;
    }
    input {
      display       : block;
      width         : 100%;
      min-width     : auto;
      margin        : 0;
      border        : 0;
      outline       : 0;
      background    : transparent;
      transition    : all 0.35s ease;
      padding-top   : 0.50rem;
      padding-bottom: 0.50rem;
      color         : var(--header-filter-color);
      box-shadow    : none;
      &::placeholder {
        color: var(--header-filter-color);
      }
    }
  }
}
