// Main
main {
  flex          : 1;
  display       : flex;
  flex-direction: column;
  overflow-y    : auto;
  position      : relative;
  animation     : fade-in 0.35s forwards;
  &:not(.home) {
    .sidebar,
    .content {
      padding: 1rem;
    }
  }
}