// Progress bar
progress {
  display         : flex;
  background-color: var(--progress-bg);
  height          : var(--progress-height);
  border-radius   : var(--progress-border-radius);
  overflow        : hidden;
  min-width: 100px;
  position: relative;
  font-size: 80%;
  font-weight: bold;
  line-height: 0;
  &[value] {
    appearance: none;
    border: none;
    width: 100%;
  }
  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
    text-align     : center;
    white-space    : nowrap;
    line-height    : 0;
    color          : var(--progress-bar-color);
    background     : var(--progress-bar-bg);
    border-radius  : var(--progress-border-radius);
  }
}
