
// Scrollbar
::-webkit-scrollbar {
  width : 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background   : var(--scrollbar-thumb-bg);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scrollbar-thumb-hover-bg);
}

::-webkit-scrollbar-track{
  background   : var(--scrollbar-track-bg);
  border-radius: 0px;
}
