
// Status bar
.status-bar {
  display    : flex;
  align-items: stretch;
  width      : 100%;
  flex-wrap  : wrap;
  @if $ui-enable-backdrop {
    border-bottom: var(--separator);
  } @else {
    box-shadow: 0 0.05rem 0.25rem hsla(0, 0%, 0%, 0.10);
  }
  .item {
    display        : flex;
    flex           : 0 0 auto;
    align-items    : center;
    justify-content: center;
    padding        : .60rem 1rem;
    font-size      : .75rem;
    span {
      font-weight : 500;
      margin-right: .35rem;
    }
    @media (max-width: $breakpoint-md) {
      padding      : .5rem;
      flex         : 1;
      border-bottom: var(--separator);
    }
    @media (max-width: $breakpoint-md) {
      span {
        @include aria-ready();
      }
    }
    &:first-child {
      margin-left: -2.5px;
    }
    &:last-child {
      border: 0;
    }
    .pt-icon {
      margin-right: .5rem;
    }
    .bi {
      font-size    : 125%;
      line-height  : 0;
      margin-right : .75rem;
      margin-bottom: -2px;
      transition   : all 0.35s ease;
    }
  }

  .graphs {
    display    : flex;
    flex       : 0 1 auto;
    height     : 100%;
    max-height : 40px;
    max-width  : 100%;
    margin-left: auto;
    overflow   : hidden;
    user-select: none;
    @media (max-width: $breakpoint-md) {
      order: 2;
      flex : 1 1 100%;
    }
    .both,
    .download,
    .upload {
      flex    : 1 1 0;
      height  : 100%;
      position: relative;
      @media (max-width: $breakpoint-md) {
        flex: 1 1 100%;
      }
      .label {
        display: flex;
        align-items: center;
        font-size  : 10px;
        font-weight: bold;
        position   : absolute;
        bottom     : 0;
        left       : 0;
        opacity    : 0.80;
        padding: 5px 0;
        div {
          display: flex;
          align-items: center;
          .bi {
            line-height: 0;
            margin: 0 5px;
          }
        }
      }
      .dl {
        color: $primary;
      }
      .ul {
        color: $blue;
      }
      .graph {
        flex     : 1 1 0;
        height   : 100%;
        max-width: 300px;
        @media (max-width: $breakpoint-md) {
          flex     : 1;
          max-width: 100%;
        }
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
