// Tabs
.tabs {
  .menu {
    display      : flex;
    width        : 100%;
    border-top   : var(--separator);
    border-bottom: var(--separator);
    .item {
      padding      : 0.75rem 1rem;
      background   : transparent;
      color        : var(--body-color);
      font-size    : 0.85rem;
      border       : 0;
      border-radius: 0;
      outline      : 0;
      transition   : all 0.35s ease;
      position     : relative;
      cursor       : pointer;
      &.active {
        &::after {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 1rem;
          right: 1rem;
          border-bottom: 2px solid var(--primary);
          animation: fade-in 0.5s forwards;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.025);
      }
    }
  }
  .content {
    .tab {
      &:not(.show) {
        display: none;
      }
    }
  }
}
