.toast {
  background     : var(--state-color,var(--toast-bg));
  color          : var(--toast-color);
  position       : fixed;
  display        : flex;
  flex-direction : column;
  bottom         : $toast-offset;
  left           : 50%;
  width          : 100%;
  max-width      : $toast-max-width;
  padding        : 0;
  transform      : translateX(-50%);
  backdrop-filter: blur(6px) saturate(1.5) brightness(1.5);
  border         : $toast-border;
  box-shadow     : var(--toast-box-shadow);
  border-radius  : $toast-border-radius;
  z-index        : $toast-zindex;
  user-select    : none;
  animation      : fade-in 0.75s forwards;
  .header {
    position       : relative;
    display        : flex;
    align-items    : center;
    margin         : $toast-header-margin;
    padding        : $toast-header-padding;
    border-radius  : $toast-header-border-radius;
    background     : rgba($dark, 0.25);
    color          : var(--body-color-highlight);
    min-height     : 30px;
    font-weight    : bold;
    line-height    : 0;
    backdrop-filter: saturate(1) contrast(1.2);
    transition     : all 0.35s ease;
    .icon {
      display        : flex;
      align-items    : center;
      justify-content: center;
      width          : 20px;
      height         : 20px;
      font-size      : 1rem;
      line-height    : 0;
      margin-right   : 0.35rem;
      color          : var(--bg-color);
    }
    .close {
      margin-left  : auto;
      padding      : .25rem;
      border-radius: 100%;
      background   : transparent;
      color        : var(--bg-color);
      opacity      : 0.75;
      transition   : all 0.35s ease;
      .icon {
        margin: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
    .title {
      color: var(--bg-color-highlight);
    }
  }
  // Toast: Body
  .body {
    margin    : 0;
    padding   : $toast-body-padding;
    font-size: 115%;
    transition: all .35s ease;
  }
  // Toast: Modifiers
  &.is-center {
    top      : 50%;
    left     : 50%;
    right    : initial;
    bottom   : initial;
    transform: translate(-50%, -50%);
  }
  &.is-left {
    left     : $toast-offset;
    transform: translateX(0);
  }
  &.is-right {
    left     : initial;
    right    : $toast-offset;
    transform: translateX(0);
  }
  &.is-top {
    top      : $toast-offset;
    bottom   : initial;
    transform: translate(-50%, 100%);
    &.is-left,
    &.is-right {
      transform: translate(0, 100%);
    }
  }
  &.primary {
    .header {
      color: lighten($primary, 50%);
    }
    .body {
      color: lighten($primary, 45%);
    }
  }
  // States
  // State: Sucess
  &.success {
    .header {
      color: lighten($green, 55%);
    }
    .body {
      color: lighten($green, 50%);
    }
  }
  // State: Error
  &.error {
    .header {
      color: lighten($red, 50%);
    }
    .body {
      color: lighten($red, 45%);
    }
  }
  // State: Warning
  &.warning {
    .header {
      color: darken($yellow, 47.5%);
    }
    .body {
      color: darken($yellow, 40%);
    }
  }
}