.tooltip {
  position: relative;
  .title {
    display: none;
    z-index        : 9999;
    &.show {
      display: block;
    }
  }
  &:hover {
    .title {
      position       : absolute !important;
      display        : block !important;
      left           : 50%;
      bottom         : 0;
      margin         : 0 !important;
      padding        : 0.35rem 0.65rem !important;
      color          : var(--body-highlight-color) !important;
      font-weight    : 500 !important;
      background     : rgba(50, 50, 50, 0.95) !important;
      border-radius  : 0.25rem;
      backdrop-filter: blur(5px);
      box-shadow     : 0 0.25rem 0.5rem -0.15rem rgba(0, 0, 0, 0.5);
      transform      : translate(-50%, 100%);
      text-align     : center;
      line-height    : initial;
      animation      : fade-in .5s forwards;
    }
  }
}