a {
  color     : var(--link-color);
  transition: all 0.35s ease;
  &:hover {
    color: var(--link-hover-color);
  }
} 

p {
  font-size    : .85rem;
  margin-bottom: 1rem;
  &.lead {
    font-size: 1rem;
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin     : 0 0 1rem;
  line-height: 1.3;
  font-weight: 300;
  color      : var(--body-color-highlight);
}

h1 {
  margin-top: 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

small, .small {
  font-size: 0.85rem;
}

a, p, h1, h2, h3, h4, h5, small, .small {
  &.medium {
    font-weight: 500 !important;
  }
  
  &.bold {
    font-weight: 600 !important;
  }
}