@use "sass:color";

// Root
:root {
  // Color
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-hover: #{rgba($color, 0.2)};
  }
  // Gradient
  --gradient-x: #{$gradient-x};
  --gradient-y: #{$gradient-y};
  // Backdrop
  --backdrop-bg:     #{$light-ui-backdrop-bg};
  --backdrop-filter: #{$light-ui-backdrop-filter};
  // Scrollbar
  --scrollbar-thumb-bg:       #{$light-scrollbar-thumb-bg};
  --scrollbar-thumb-hover-bg: #{$light-scrollbar-thumb-hover-bg};
  --scrollbar-track-bg:       #{$light-scrollbar-track-bg};
  // Separator
  --separator            : #{$separator-width} #{$separator-style} #{$light-separator-color};
  --separator-width      : #{$separator-width};
  --separator-style      : #{$separator-style};
  --separator-color      : #{$light-separator-color};
  --separator-white      : #{$separator-width} #{$separator-style} #{$separator-white-color};
  --separator-white-color: #{$separator-white-color};
  // Body
  --body-text-align: #{$body-text-align};
  --body-bg-img    : #{$body-bg-img};
  --body-bg-color  : #{$light-body-bg-color};
  --body-color     : #{$light-body-color};
  --body-color-highlight: #{darken($light-body-color, 10%)};
  // Breakpoint
  --breakpoint-sm  : #{$breakpoint-sm};
  // Links
  --link-color:       #{$link-color};
  --link-hover-color: #{$link-hover-color}; 
  // Typography
  --font-sans-serif : #{$font-family-sans-serif};
  --font-monospace  : #{$font-family-monospace};
  --font-family-base: #{$font-family-base};
  --font-size-base  : #{$font-size-base};
  --font-weight-base: #{$font-weight-base};
  --line-height-base: #{$line-height-base};
  // Header
  --header-icon                : #{$header-icon};
  --header-filter-border-radius: #{$header-filter-border-radius};
  --header-bg                  : #{$light-header-bg};
  --header-color               : #{$light-header-color};
  --header-filter-bg           : #{$light-header-filter-bg};
  --header-filter-color        : #{$light-header-filter-color};
  // Sidebar
  --sidebar-bg: #{$light-sidebar-bg};
  
  // Torrents table
  --torrents-table-height:        #{$torrents-table-height};
  --torrents-table-icons:         #{if($torrents-table-icons, 'inline', 'none')};
  --torrents-table-progress-text: #{if($torrents-table-progress-text, 'inline', 'none')};
  // Form: Input
  --input-bg            : #{$light-input-bg};
  --input-bg-alpha      : #{$light-input-bg-alpha};
  --input-color         : #{$light-input-color};
  --input-hover-color   : #{$light-input-hover-color};
  --input-hover-bg-alpha: #{$light-input-hover-bg-alpha};
  // Progress
  --progress-bg           : #{$light-progress-bg};
  --progress-height       : #{$progress-height};
  --progress-border-radius: #{$progress-border-radius};
  --progress-bar-bg       : #{$progress-bar-bg};
  --progress-bar-color    : #{$progress-bar-color};
  // Toast
  --toast-bg        : #{$light-toast-bg};
  --toast-color     : #{$light-toast-color};
  --toast-box-shadow: #{$light-toast-box-shadow};

  // Dark mode  
  @media (prefers-color-scheme: #{if($ui-darkscheme-enable, 'dark', 'none')}) {
    // Colors
    @each $name, $color in $colors {
      --#{$name}: #{darken(desaturate($color, $color-desaturation-amount), $color-darken-amount)};
      --#{$name}-hover: #{rgba($color, 0.15)};
    }
    // Backdrop
    --backdrop-bg:     #{$dark-ui-backdrop-bg};
    --backdrop-filter: #{$dark-ui-backdrop-filter};
    // Scrollbar
    --scrollbar-thumb-bg:       #{$dark-scrollbar-thumb-bg};
    --scrollbar-thumb-hover-bg: #{$dark-scrollbar-thumb-hover-bg};
    --scrollbar-track-bg:       #{$dark-scrollbar-track-bg};
    // Separator
    --separator:       #{$separator-width} #{$separator-style} #{$dark-separator-color};
    --separator-color: #{$dark-separator-color};
    // Body
    --body-color          : #{$dark-body-color};
    --body-bg-color       : #{$dark-body-bg-color};
    --body-color-highlight: #{lighten($dark-body-color, 20%)};

    // Header
    --header-bg          : #{$dark-header-bg};
    --header-color       : #{$dark-header-color};
    --header-filter-bg   : #{$dark-header-filter-bg};
    --header-filter-color: #{$dark-header-filter-color};
    // Sidebar
    --sidebar-bg: #{$dark-sidebar-bg};
    // Form: Input
    --input-bg            : #{$dark-input-bg};
    --input-bg-alpha      : #{$dark-input-bg-alpha};
    --input-color         : #{$dark-input-color};
    --input-hover-color   : #{$dark-input-hover-color};
    --input-hover-bg-alpha: #{$dark-input-hover-bg-alpha};
    // Progress
    --progress-bg: #{$dark-progress-bg};
    // Toast
    --toast-bg        : #{$dark-toast-bg};
    --toast-color     : #{$dark-toast-color};
    --toast-box-shadow: #{$dark-toast-box-shadow};
  }
}

