// Colors
// Colors: Primary Palette
$primary      : hsl(199, 81%, 47%) !default;
$secondary    : hsl(199, 81%, 60%) !default;
// Colors: General
$blue         : hsl(217, 85%, 50%) !default;
$green        : hsl(150, 85%, 40%) !default;
$yellow       : hsl( 43, 95%, 50%) !default;
$orange       : hsl( 30, 95%, 50%) !default;
$red          : hsl(  0, 85%, 45%) !default;
// Colors: Gray-scale (Not %100 white or black)
$white        : hsl(  0,  0%, 95%) !default;
$light        : hsl(  0,  0%, 90%) !default;
$gray         : hsl(  0,  0%, 50%) !default;
$dark         : hsl(  0,  0%, 20%) !default;
$darker       : hsl(  0,  0%, 15%) !default;
$black        : hsl(  0,  0%, 05%) !default;

// Color modifier
// This modifies the color when dark mode/scheme is used
$color-darken-amount:       7.5% !default;
$color-desaturation-amount: 17.5% !default;

// Colors: Map
$colors: (
  'primary'  : $primary,
  'secondary': $secondary,
  // Colors: General
  'blue'     : $blue,
  'green'    : $green,
  'yellow'   : $yellow,
  'orange'   : $orange,
  'red'      : $red,
  // Colors: Gray-scale
  'white'    : $white,
  'light'    : $light,
  'gray'     : $gray,
  'dark'     : $dark,
  'darker'   : $darker,
  'black'    : $black
) !default;

// Colors: Gradient
$gradient-y: linear-gradient( 0deg, var(--primary), var(--secondary)) !default;
$gradient-x: linear-gradient(90deg, var(--primary), var(--secondary)) !default;

// Scrollbar
// Scrollbar: Light
$light-scrollbar-thumb-bg      : rgba(0, 0, 0, 0.150) !default;
$light-scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.250) !default;
$light-scrollbar-track-bg      : rgba(0, 0, 0, 0.075) !default;
// Scrollbar: Dark
$dark-scrollbar-thumb-bg       : rgba(255, 255, 255, 0.05) !default;
$dark-scrollbar-thumb-hover-bg : rgba(255, 255, 255, 0.07) !default;
$dark-scrollbar-track-bg       : rgba(255, 255, 255, 0.035) !default;

// Separator
$separator-width      : 1px !default;
$separator-style      : solid !default;
$separator-white-color: rgba(255, 255, 255, 0.15) !default;
// Separator: Light
$light-separator-color: rgba(0, 0, 0, 0.10) !default;
// Separator: Dark
$dark-separator-color : rgba(255, 255, 255, 0.05) !default;

// UI
//
// General UI settings
$ui-darkscheme-enable: true !default;                                                                                                                // Boolean True / False
$ui-backdrop-enable  : true !default;                                                                                                                 // Boolean True / False
$ui-bg-enable        : true !default;                                                                                                                 // Boolean True / False
$ui-bg-img           : null !default;
$ui-pt-icon          : url('./assets/brand/icon.svg') !default;
$ui-torrents-height  : 100% !default;                                                                                                                 // Height property: 100% / Auto
// UI: Backdrop
//
// Fluend Design style for backdrop styling
// Backdrop: Light
$light-ui-backdrop-bg    : rgba(225,225,225,0.75) !default;
$light-ui-backdrop-filter: blur(10px) !default;
// Backdrop: Dark
$dark-ui-backdrop-bg     : rgba(20, 20, 20, 0.90) !default;
$dark-ui-backdrop-filter : blur(10px) !default;

// Body
//
// Settings for the `<body>` element.
$body-text-align    : null !default;
$body-bg-img        : $ui-bg-img !default;
// Body: Light
$light-body-bg-color: #F3F3F3 !default;
$light-body-color   : #333 !default;
// Body: Dark
$dark-body-bg-color : #121212 !default;
$dark-body-color    : #999 !default;

// Breakpoint
$breakpoint-sm: 768px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1300px !default;
$breakpoint-xl: 1600px !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Typography: Font families
$font-family-sans-serif: system-ui,      -apple-system, "Segoe UI", Roboto,   "Helvetica Neue",  Arial,         "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace : SFMono-Regular, Menlo,         Monaco,     Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base      : var(--font-sans-serif) !default;
$font-family-code      : var(--font-monospace) !default;
// Typography: Sizes
$font-size-root: null !default;
$font-size-base: 0.75rem !default;                 // Assumes the browser default, typically `16px`
$font-size-sm  : $font-size-base * .875 !default;
$font-size-lg  : $font-size-base * 1.25 !default;
// Typography: Weights
$font-weight-lighter: lighter !default;
$font-weight-light  : 300 !default;
$font-weight-normal : 400 !default;
$font-weight-bold   : 700 !default;
$font-weight-bolder : bolder !default;
$font-weight-base   : $font-weight-normal !default;
// Typography: Line height
$line-height-base: 1.5 !default;
$line-height-sm  : 1.25 !default;
$line-height-lg  : 2 !default;
// Typography: Links
$link-color      : var(--primary) !default;
$link-hover-color: var(--primary-hover) !default;

// Components
//
// Hader, Footer, Sidebar, Status-bar, Progress-bar, Scroll-bar and more

// Header
$header-icon                : url('./assets/brand/logo-white.svg') !default;  // Deprecated
$header-filter-border-radius: 0.25rem !default;                                // Deprecated
// Header: Light
$light-header-bg          : var(--primary) !default;
$light-header-color       : var(--white) !default;
$light-header-filter-bg   : hsla(0, 0%, 100%, 0.90) !default;
$light-header-filter-color: hsla(0, 0%, 0%, 0.65) !default;
// Header: Dark
$dark-header-bg           : var(--primary) !default;
$dark-header-color        : var(--white) !default;
$dark-header-filter-bg    : hsla(0, 0%, 100%, 0.90) !default;
$dark-header-filter-color : hsla(0, 0%, 0%, 0.65) !default;

// Sidebar
// Sidebar: Light
$light-sidebar-bg: hsla(0, 0%, 0%, 0) !default;
// Sidebar: Dark
$dark-sidebar-bg : hsla(0, 0%, 100%, 0) !default;

// Torrents Table
$torrents-table-height       : $ui-torrents-height !default;
$torrents-table-icons        : true !default;                 // Display property: true (inline) / false (done)
$torrents-table-progress-text: true !default;                 // Display property: true (inline) / false (done)

// Progress
$progress-height       : 13px !default;
$progress-border-radius: 999rem !default;
$progress-bar-color    : var(--white) !default;
$progress-bar-bg       : var(--primary) !default;
// Progress: Light
$light-progress-bg     : hsla(0, 0%, 0%, 0.075) !default;
// Progress: Dark
$dark-progress-bg      : hsla(0, 0%, 100%, 0.075) !default;

// Form
// Form: Input: Light
$light-input-bg            : 0, 0%, 0% !default;          // HSLA
$light-input-bg-alpha      : 0.10 !default;
$light-input-color         : var(--body-color) !default;
// Form: Input: Light (hover)
$light-input-hover-color   : var(--body-color-highlight) !default;
$light-input-hover-bg-alpha: 0.15 !default;
// Form: Input: Dark
$dark-input-bg             : 0, 100%, 100% !default;      // HSLA
$dark-input-bg-alpha       : 0.15 !default;;
$dark-input-color          : var(--body-color) !default;
// Form: Input: Dark (hover)
$dark-input-hover-color    : var(--body-color-highlight) !default;
$dark-input-hover-bg-alpha : 0.20 !default;

// Colors: Alpha
$alpha-background-color : 0.85 !default;

// Toast
$toast-max-width           : 350px !default;
$toast-border              : 0 !default;
$toast-offset              : 2.00rem !default;
$toast-body-padding        : 0.5rem !default;
$toast-border-radius       : 0.35rem !default;
$toast-header-margin       : $toast-body-padding $toast-body-padding 0 !default;
$toast-header-padding      : 0.15rem 0.25rem !default;
$toast-header-border-radius: 0.25rem !default;
$toast-header-icon-margin  : 0.50rem !default;
$toast-zindex              : 9999;
// Toast: Light
$light-toast-bg            : rgba($light, $alpha-background-color) !default;
$light-toast-color         : var(--body-color) !default;
$light-toast-box-shadow    : 0 0.25rem 1rem -0.15rem rgba(0, 0, 0, 0.15) !default;
// Toast: Dark
$dark-toast-bg             : rgba($dark, $alpha-background-color) !default;
$dark-toast-color          : var(--body-color) !default;
$dark-toast-box-shadow     : none !default;