@import "variables";
@import "root";
@import "utilities";
@import "components/all";
@import "pages/all";

*, ::after, ::before {
  box-sizing: border-box;
}

// HTML
html {
  margin : 0;
  padding: 0;
  height : 100%;
}

// Body
body {
  display                    : flex;
  flex-direction             : column;
  height                     : 100%;
  margin                     : 0;
  font-family                : var(--font-family-base);
  font-size                  : var(--font-size-base);
  font-weight                : var(--font-weight-base);
  line-height                : var(--line-height-base);
  color                      : var(--body-color);
  text-align                 : var(--body-text-align);
  background-color           : var(--body-bg-color);
  background-image           : if($ui-bg-enable, var(--body-bg-img), 'none');
  background-repeat          : no-repeat;
  background-size            : auto 100%;
  background-position        : center;
  -webkit-text-size-adjust   : 100%;
  -webkit-tap-highlight-color: #000;
}

// Vue App
#app {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  flex          : 1;
}
