@import "variables";
@import "root";
@import "components/all";
@import "utilities";

*, ::after, ::before {
  box-sizing: border-box;
}

// HTML
html {
  margin : 0;
  padding: 0;
  height : 100%;
}

// Body
body {
  display                    : flex;
  flex-direction             : column;
  height                     : 100%;
  margin                     : 0;
  font-family                : var(--font-family-base);
  font-size                  : var(--font-size-base);
  font-weight                : var(--font-weight-base);
  line-height                : var(--line-height-base);
  color                      : var(--body-color);
  text-align                 : var(--body-text-align);
  background-color           : var(--body-bg-color);
  background-image           : if($ui-bg-enable, var(--body-bg-img), 'none');
  background-repeat          : no-repeat;
  background-size            : auto 100%;
  background-position        : center;
  -webkit-text-size-adjust   : 100%;
  -webkit-tap-highlight-color: #000;
}

// Vue App
#app {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  flex          : 1;
}

// Main
main {
  flex          : 1;
  display       : flex;
  flex-direction: column;
  overflow-y    : auto;
  position      : relative;
}

.sidebar,
.content {
  padding: 0 1rem;
  @media (min-width: $breakpoint-sm) {
    padding: 1rem;
  }
}

// Page: About
.social {
  margin-bottom: 1rem;
}

// Page: Settings
.settings {
  flex-direction: column;
  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
  .sidebar {
    padding: 1rem;
    flex: 0 0 auto;
    background: var(--sidebar-bg);
    @media (min-width: $breakpoint-sm) {
      padding: 1rem .25rem;
      flex: 1 1 175px;
      max-width: 175px;
    }
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (min-width: $breakpoint-sm) {
        flex-direction: column;
      }
      .item {
        margin: 0 0.25rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 110%;
        font-weight: 500;
        text-decoration: none;
        color: var(--body-color);
        flex: 1;
        border-radius: .25rem;
        @media (min-width: $breakpoint-sm) {
          border-radius: 0rem;
          margin: 0 0 0.5rem;
          justify-content: flex-start;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background: var(--primary);
          color: var(--white);
          @media (min-width: $breakpoint-sm) {
            background: transparent;
            color: var(--body-color);
            box-shadow: inset 4px 0 0 var(--primary);
          }
        }
        &:hover:not(.active) {
          background: var(--gray-hover);
          border-radius: .25rem;
        }
        // Icons
        .bi {
          font-size: 145%;
          line-height: 0;
          transition: all 0.35s ease;
          @media (min-width: $breakpoint-sm) {
            margin-bottom: -2px;
            margin-right: 0.75rem;
          }
        }
        // Text
        span {
          display: none;
          @media (min-width: $breakpoint-sm) {
            display: inline;
          }
        }
      }
    }
  }
  .content {
    flex: 1 1 100%;
    @media (min-width: $breakpoint-sm) {
      flex: 1;
    }
  }
}

// Torrents (Table)
.torrents {
  display                   : block;
  width                     : 100%;
  height                    : var(--torrents-table-height);
  overflow-x                : auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style        : -ms-autohiding-scrollbar;
  table {
    min-width: 750px;
    th,
    td {
      // Torrent: Number
      &.id {
        width: 30px;
      }
      // Icons
      .bi {
        font-size   : 125%;
        line-height : 0;
        margin-right: 0.50rem;
        display     : var(--torrents-table-icons, 'inline');
        &.bi-hourglass {
          font-size  : 110%;
          margin-left: 1px;
        }
      }  
      // Progress-bar
      .progress {
        span {
          display: var(--torrents-table-progress-text, 'inline');
        }
      }  
    }
    th {
      font-size     : 85%;
      letter-spacing: 1px;
    }
    tr {
      border-bottom: 0;
      @media (min-width: $breakpoint-sm) {
        color: var(--state-color);
      }
      transition: all 0.35s ease;
      &:hover {
        background: var(--state-color-hover);
      }
    }
    // Bar
    .bar {
      background: var(--state-color, var(--primary)); 
    }
    // Mobile
    @media (max-width: $breakpoint-sm) {
      min-width: auto;
      thead {
        display: none;
      }
      tbody {
        display       : flex;
        flex          : 1 1 100%;
        flex-wrap     : wrap;
        flex-direction: column;
        tr {
          display      : flex;
          flex-wrap    : wrap;
          padding      : .5rem .25rem;
          border-bottom: var(--separator);
          td {
            display    : flex;
            flex       : 1 0 auto;
            align-items: center;
            // Torrent Number
            &.id {
              display: none;
            }
            // Torrent Name
            &.name {
              padding-top: 0;
              order: 0;
              flex: 1 1 100%;
              font-size: 115%;
              font-weight: 600;
              border: 0;
            }
            // Torrent Status
            //&.status {
            //}
            // Torrent Download speed
            //&.download {
            //}
            // Torrent Upload speed
            //&.upload {
            //  border: 0;
            //}
            // Torrent Prgoress
            &.progress {
              order : 10;
              flex  : 1 1 100%;
              border: 0;
              .progress {
                width : 100%;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// Empty
.empty {
  width          : 100%;
  height         : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  padding: 1rem;
  .content {
    padding      : 2rem 1.5rem;
    background   : rgba($dark, 0.25);
    border-radius: .75rem;
    .icon {
      display      : block;
      font-size    : 4rem;
      line-height  : 0;
      margin-bottom: 2rem;
      text-align   : center;
      color        : var(--primary);
    }
    &.error {
      text-align: center;
      .icon {
        color: var(--red);
      }
    }
  }
}

// Torrent File
.file {
  position  : absolute;
  left      : 0;
  top       : 0;
  right     : 0;
  bottom    : 0;
  background: var(--backdrop-bg);
  padding   : 1rem 0.75rem;
  overflow-y: auto;
  h2 {
    font-size: 1.5rem;
    @media (min-width: $breakpoint-sm) {  
      font-size: 1.35rem;
    }
  }
  h3 {
    font-size: 1.25rem;    
    @media (min-width: $breakpoint-sm) {  
      font-size: 1.15rem;
    }
  }
  .status-bar {
    width        : calc(100% + 1.5rem);
    margin-left  : -0.75rem;
    margin-bottom: 1rem;
    border-top   : var(--separator);
    .item {
      flex           : 0 0 auto;
      border-bottom  : 0;
      justify-content: flex-start;
      padding        : 0.5rem 0.75rem;
      min-width      : 100px;
      span {
        display: none;
      }
      &:hover {
        position: relative;
        span {
          position       : absolute;
          display        : block;
          left           : 50%;
          bottom         : -2.25rem;
          background     : rgba(50, 50, 50, 0.75);
          padding        : 0.25rem 0.5rem 0.35rem !important;
          border-radius  : 0.25rem;
          backdrop-filter: blur(5px);
          box-shadow     : 0 0.25rem 0.5rem -0.15rem rgba(0, 0, 0, 0.5);
          transform      : translateX(-50%);
          z-index        : 999;
        }
      }
    }
  }
  .row {
    margin: 0 -1rem 2rem;
    flex-wrap: wrap;
    .col {
      display: flex;
      flex: 1 1 100%;
      max-width: 100%;
      border-bottom: var(--separator);
      @media (min-width: $breakpoint-md) {
        flex: 1 1 50%;
        max-width: 50%;
      }
      @media (min-width: $breakpoint-lg) {
        flex: 1 1 33.333%;
        max-width: 33.333%;
      }
      @media (min-width: $breakpoint-xl) {
        flex: 1 1 25%;
        max-width: 25%;
      }
      .label, 
      .value {
        padding  : 0.35rem 1rem;
        word-wrap: break-word;
        @media (min-width: $breakpoint-md) {
          flex: 1 1 50%;
          max-width: 50%;
          max-height: 45px;
        }
        @media (min-width: $breakpoint-md) {
          max-height: 50px;
        }
      }
      .label {
        flex: 0 0 175px;
        width   : 175px;
        font-size: 0.75rem;
        font-weight: 500;
        color   : var(--body-color-highlight);
        overflow: auto;
      }
      .value {
        flex: 1 1 100%;
        font-size: 0.8rem;
        overflow: auto;
      }
    }
  }
  .progress {
    margin: 1rem 0 2rem;
  }
  .tabs {
    margin: 0 -0.75rem 1rem;
  }
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  &.cols-3 {
    flex: 1 1 33.333%;
    max-width: 33.333%;
  }
  &.cols-2 {
    flex: 1 1 50%;
    max-width: 50%;
  }
  &.cols-1 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

// Tabs
.tabs {
  .menu {
    display      : flex;
    width        : 100%;
    border-top   : var(--separator);
    border-bottom: var(--separator);
    .item {
      padding      : 0.75rem 1rem;
      background   : transparent;
      color        : var(--body-color);
      font-size    : 0.85rem;
      border       : 0;
      border-radius: 0;
      outline      : 0;
      transition   : all 0.35s ease;
      position     : relative;
      cursor       : pointer;
      &.active {
        &::after {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 1rem;
          right: 1rem;
          border-bottom: 2px solid var(--primary);
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.025);
      }
    }
  }
  .content {
    .tab {
      &:not(.show) {
        display: none;
      }
    }
  }
}

// Tree
.tree {
  width: 100%;
  .folder {
    width: 100%;
    margin-bottom: 0.25rem;
    .root {
      background: transparent;
      border: 0;
      color: var(--body-color-highlight);
      outline: 0;
      padding: 0;
    }
    .item {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 0.25rem 0;
      & > div {
        margin: 0 0.5rem;
        &:first-child {
          margin-left: 1rem;
          width: 200px;
          height: 30px;
          overflow-x: auto;
        }
      }
    }
  }
}

// Social Links
.social {
  display    : flex;
  align-items: center;
  a {
    display        : flex;
    align-items    : center;
    text-decoration: none;
    margin-right   : 0.75rem;
    transition     : all 0.35s ease;
    &:last-child {
      margin-right: 0;
    }
    .icon {
      width: 16px;
      height: 16px;
      object-fit: cover;
      object-position: center;
      path {
        fill: #777;
      }
    }
  }
}